<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- SLICK -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css" />

    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">

    <!-- Custom Files -->
    <link rel="stylesheet" href="/css/style.css">
    <title>lgc</title>
</head>

<body>
    <!-- NAV-BAR -->
    <nav class="navbar navbar-expand-md fixed-top navbar-light bg-light" style="z-index: -1;">
        <div class="container">
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#index" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#about" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="#saf" class="nav-link">Strategic Areas of Focus</a>
                    </li>
                    <li class="nav-item">
                        <a href="#cei" class="nav-link">Christ Exalted International</a>
                    </li>
                    <li class="nav-item">
                        <a href="#giving" class="nav-link">Giving</a>
                    </li>
                    <li class="nav-item">
                        <a href="#events" class="nav-link">Events</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <img src="/images/imageedit_2_9354764985.png" class="rounded-circle" width="16%">



</body>

</html>