<%- include ('../views/partials/header') %>

<section id="home-heading">
    <div class="dark-overlay">
        <header id="showcase" class="p-5 d-none d-md-block">
            <div class="carousel slide" id="myCarausel" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li class="active" data-target="#myCarausel" data-slide-to="0"></li>
                    <li data-target="#myCarausel" data-slide-to="1"></li>
                    <li data-target="#myCarausel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="carousel-caption  mb-5">
                                <h1><strong>WELCOME TO LIGHT GATE CHURCH</strong></h1>
                                <hr class="bg-danger">
                                <h5><strong>Sunday: 09:00am | Wednesday: 05:30pm</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="carousel-caption  mb-5">
                                <h1><strong>Apostle Ronald Nkuranga</strong></h1>
                                <hr class="bg-danger">
                                <h5><strong>Pastor Rebecca Nkuranga</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="carousel-caption  mb-5">
                                <h1 class="display3"></h1>
                                <h1><strong>Follow us on Social Media</strong></h1>
                                <hr class="bg-danger">
                                <h5>
                                    <strong>
                                        <i class="fab fa-facebook-f fa-2x text-primary mr-3"></i> 
                                        <i class="fab fa-twitter fa-2x text-primary mr-3"></i> 
                                        
                                    </strong>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</section>

<section id="vision">
    <div class="container p-5">
        <h1 class="text-success text-center display-3 mb-0">Welcome To Light Gate Church</h1>
        <hr class="bg-success mt-1" style="width: 40%;">
        <p class="text-white text-muted" style="font-size: x-large;">
            On behalf of the members at Light Gate Church, we are so excited that you’ve chosen to visit our website.
            Our prayer for you and your family is that the God of all grace will anoint you with fresh oil of the Holy
            Spirit and empower you wish such vibrant hope and living faith that your life is a reflection of the joy,
            peace, and blessing that God promises all those who follow Him. May the Lord continue to establish you in
            His love that you will mature through the light of His word to the praise and glory of His amazing grace, by
            which He has made us accepted!
        </p>
    </div>
</section>

<section id="vision">
    <div class="container p-5">
        <h1 class="text-success text-center display-3 mb-0"><strong>ABOUT US</strong></h1>
        <hr class="bg-success mt-1" style="width: 40%;">
        <p class="text-white text-muted" style="font-size: x-large;">
            <strong class="text-success">The visionary:</strong>
            Ronald Nkuranga is the founder of Light Gate Church( LGC). He is recognized for his passion for souls and church planting. He believes that his mandate is to raise an army of transformed and excited Christ-like kingdom workers to reach the nations with the gospel, the world’s only hope. 
        </p>
    
        <p class="text-white text-muted" style="font-size: x-large;">
            <strong class="text-success">Mission:</strong>
            To transformation ordinary people into Christ-like ministers for the Kingdom
        </p>
        <p class="text-white text-muted" style="font-size: x-large;">
            <strong class="text-success">Vision:</strong>
            A place where every member becomes an excited and faithful minister of Christ ..
        </p>
        <p class="text-white text-muted" style="font-size: x-large;">
            <strong class="text-success">Statement of faith:</strong>
             Light Gate Church has adopted the following statement of Faith as its standard and official expression of its doctrine. 
        </p>   
    </div>
 
</section>

<%- include ('../views/partials/footer') %>